<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="excavator_six_wheels">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.4294466 0.0012485 0.0380234"
        rpy="0 0 0" />
      <mass
        value="1344.56" />
      <inertia
        ixx="488.8784"
        ixy="-1.551611"
        ixz="-14.97196"
        iyy="896.8346"
        iyz="-0.0436094"
        izz="1351.993" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="body_yaw_link">
    <inertial>
      <origin
        xyz="0.1079546 0.0105228 0.3946353"
        rpy="0 0 0" />
      <mass
        value="6265.561" />
      <inertia
        ixx="2571.012"
        ixy="174.734"
        ixz="51.48263"
        iyy="3693.928"
        iyz="-119.7148"
        izz="3935.33" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/body_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.86667 0.9098 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/body_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="body_yaw_joint"
    type="continuous">
    <origin
      xyz="0 0 0.36323"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="body_yaw_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="boom_pitch_link">
    <inertial>
      <origin
        xyz="0.4132467 -1.134166 -0.0004796"
        rpy="0 0 0" />
      <mass
        value="724.9529" />
      <inertia
        ixx="282.0599"
        ixy="118.3342"
        ixz="0.0157727"
        iyy="101.1092"
        iyz="-0.2015522"
        izz="371.1804" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/boom_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/boom_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="boom_pitch_joint"
    type="revolute">
    <origin
      xyz="1.5923 -0.0015397 0.36333"
      rpy="-1.5708 0 0" />
    <parent
      link="body_yaw_link" />
    <child
      link="boom_pitch_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="1.3703"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="forearm_pitch_link">
    <inertial>
      <origin
        xyz="0.3194473 -0.2255539 -0.0003882"
        rpy="0 0 0" />
      <mass
        value="640.9527" />
      <inertia
        ixx="17.24723"
        ixy="14.701"
        ixz="-0.0567428"
        iyy="203.3294"
        iyz="-0.0303271"
        izz="211.0722" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/forearm_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/forearm_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="forearm_pitch_joint"
    type="revolute">
    <origin
      xyz="1.4519 -2.0381 0"
      rpy="0 0 0" />
    <parent
      link="boom_pitch_link" />
    <child
      link="forearm_pitch_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.89604"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="bucket_pitch_link">
    <inertial>
      <origin
        xyz="0.0599133 -0.3650323 0.0004776"
        rpy="0 0 0" />
      <mass
        value="643.2329" />
      <inertia
        ixx="70.66146"
        ixy="9.106421"
        ixz="0.1324507"
        iyy="141.5187"
        iyz="-0.0280834"
        izz="146.0667" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/bucket_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.94902 0.9098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/bucket_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="bucket_pitch_joint"
    type="revolute">
    <origin
      xyz="1.5061 -0.24997 0"
      rpy="0 0 0" />
    <parent
      link="forearm_pitch_link" />
    <child
      link="bucket_pitch_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="2.2837"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_wheel_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="80.86435" />
      <inertia
        ixx="2.038961"
        ixy="0"
        ixz="0"
        iyy="2.038961"
        iyz="2.47E-05"
        izz="2.426941" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/left_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.29804 0.29804 0.29804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/left_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.029784 0.76843 0"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_wheel_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="right_wheel_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="80.86435" />
      <inertia
        ixx="2.038961"
        ixy="0"
        ixz="0"
        iyy="2.038961"
        iyz="2.47E-05"
        izz="2.426941" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/right_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.29804 0.29804 0.29804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/right_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.029784 -0.76743 0"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_wheel_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="left_front_wheel_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="80.86435" />
      <inertia
        ixx="2.038961"
        ixy="0"
        ixz="0"
        iyy="2.038961"
        iyz="2.47E-05"
        izz="2.426941" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/left_front_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.29804 0.29804 0.29804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/left_front_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_front_wheel_joint"
    type="continuous">
    <origin
      xyz="0.90862 0.76843 0"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_front_wheel_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="left_behind_wheel_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="80.86435" />
      <inertia
        ixx="2.038961"
        ixy="0"
        ixz="0"
        iyy="2.038961"
        iyz="2.47E-05"
        izz="2.426941" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/left_behind_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.29804 0.29804 0.29804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/left_behind_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_behind_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.96819 0.76843 0"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_behind_wheel_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="right_front_wheel_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="80.86435" />
      <inertia
        ixx="2.038961"
        ixy="0"
        ixz="0"
        iyy="2.038961"
        iyz="2.47E-05"
        izz="2.426941" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/right_front_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.29804 0.29804 0.29804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/right_front_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_front_wheel_joint"
    type="continuous">
    <origin
      xyz="0.90862 -0.76743 0"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_front_wheel_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="right_behind_wheel_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="80.86435" />
      <inertia
        ixx="2.038961"
        ixy="0"
        ixz="0"
        iyy="2.038961"
        iyz="2.47E-05"
        izz="2.426941" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/right_behind_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://excavator_six_wheels/meshes/right_behind_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_behind_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.96819 -0.76743 0"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_behind_wheel_link" />
    <axis
      xyz="0 0 1" />
  </joint>
</robot>